
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%;
    scroll-behavior: smooth;
}

body {
    font-size: 'Roboto' sans-serif;
    font-size: 2rem;
    color: #333;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 5rem;
    max-width: 1250px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}


.btn {
    padding: 5rem 7.5rem;
    color: #fff;
    cursor: pointer;
}

.btn:hover {

    transform: scale(1.1);
    transition: all 2s ease-in-out;
    color: coral;
}